<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br><br>
        <%= link_to "View posts", user_path(@user) %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
 </aside>
 <div class="col-md-8 skills">
   <%= render 'follow_form' if logged_in? %>
   <div class="skill">
     <div class="topic">
       <p class="md">I want to learn</p>&nbsp;&nbsp;
       <p class="lg oblique">
         <% if !@user.skill_want.nil? %>
          <%= @user.skill_want %>
        <% else %>
          No data yet
        <% end %>
       <p>  &nbsp;&nbsp;
       (&nbsp;
       <p>Level :
         <% if !@user.skill_want_level.nil? %>
          <%= @user.skill_want_level %>
         <% else %>
          ---
         <% end %>
       </p>
       &nbsp;)
     </div>
     <div class="description">
      <p class="bold">Description</p>
      <p>
        <% if !@user.skill_want_description.nil? %>
          <%= @user.skill_want_description %>
        <% else %>
          No description yet
        <% end %>
      </p>
    </div>
   </div>
   <div class="skill">
     <div class="topic">
       <p class="md">I can teach you</p>&nbsp;&nbsp;
       <p class="lg oblique">
         <% if !@user.skill_teach.nil? %>
          <%= @user.skill_teach %>
        <% else %>
          No data yet
        <% end %>
       <p>&nbsp;&nbsp;
       (&nbsp;
       <p>Level :
         <% if !@user.skill_teach_level.nil? %>
          <%= @user.skill_teach_level %>
         <% else %>
          ---
         <% end %>
       </p>
       &nbsp;)
     </div>
     <div class="description">
      <p class="bold">Description</p>
      <p>
        <% if !@user.skill_teach_description.nil? %>
          <%= @user.skill_teach_description %>
        <% else %>
          No description yet
        <% end %>
      </p>
    </div>
   </div>
 </div>
</div>
