<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view profile", profile_user_path(current_user) %></span>
<span><%= link_to "Microposts", user_path(current_user) %> (<%= current_user.microposts.count %>)</span>
